@import url('../../../config/colors/colors.css');

.lighter{
    background-color: var(--serch-light-textTwo);
    padding: 2rem;
    margin: 0rem 2rem;
}

.light{
    padding: 2rem;
    background-color: var(--serch-white-bg);
}

.payOptions{
    padding: 4rem;
    background-color: var(--serch-black-bg);
}

.payOptionCenter{
    text-align: center;
}

.payOptionCenter h2, .payOptionCenter p{
    color: var(--serch-white-bg);
}

.payBody{
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.payBody .boxWithData h3{
    color: var(--serch-white-bg);
}

.payBody .boxWithDataContent h4{
    color: var(--serch-white-bg);
}