.market-place-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.market-place-text {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 5em;
    font-style: normal;
    font-weight: 800;
    padding-top: 800px;
    padding-left: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1532079563951-0c8a7dacddb3?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fG1hcmtldHBsYWNlfGVufDB8fHx8MTcwODkzOTUwOXww&ixlib=rb-4.0.3&w=1500");
}

.market-place-header {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-white);
}

.market-place-image {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.market-place-container1 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.market-place-text01 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.market-place-text02 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.market-place-header1 {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-white);
}

.market-place-container2 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.market-place-text05 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.market-place-text06 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.market-place-navlink {
    display: contents;
}

.market-place-element {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.market-place-element:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.market-place-details {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.market-place-text09 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.market-place-icon {
    fill: var(--dl-color-gray-black);
    width: 32px;
    height: 32px;
}

.market-place-image1 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.market-place-header2 {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-white);
}

.market-place-container3 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.market-place-text10 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.market-place-text11 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.market-place-navlink1 {
    display: contents;
}

.market-place-element1 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.market-place-element1:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.market-place-details1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.market-place-text14 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.market-place-icon2 {
    fill: var(--dl-color-gray-black);
    width: 32px;
    height: 32px;
}

.market-place-image2 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.market-place-header3 {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-white);
}

.market-place-container4 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.market-place-text15 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.market-place-text16 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.market-place-navlink2 {
    display: contents;
}

.market-place-element2 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.market-place-element2:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.market-place-details2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.market-place-text19 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.market-place-icon4 {
    fill: var(--dl-color-gray-black);
    width: 32px;
    height: 32px;
}

.market-place-image3 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.market-place-header4 {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-white);
}

.market-place-container5 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.market-place-text20 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.market-place-text21 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.market-place-navlink3 {
    display: contents;
}

.market-place-element3 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.market-place-element3:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.market-place-details3 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.market-place-text24 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.market-place-icon6 {
    fill: var(--dl-color-gray-black);
    width: 32px;
    height: 32px;
}

.market-place-image4 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.market-place-countries-in-serch {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
    padding-bottom: 120px;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

@media(max-width: 767px) {
    .market-place-text {
        font-size: 4em;
    }

    .market-place-header {
        flex-direction: column;
    }

    .market-place-image {
        width: 100%;
    }

    .market-place-header1 {
        flex-direction: column;
    }

    .market-place-element {
        width: 100%;
        max-width: 560px;
    }

    .market-place-text09 {
        font-size: 16px;
        line-height: 24px;
    }

    .market-place-image1 {
        width: 100%;
    }

    .market-place-header2 {
        flex-direction: column;
    }

    .market-place-element1 {
        width: 100%;
        max-width: 560px;
    }

    .market-place-text14 {
        font-size: 16px;
        line-height: 24px;
    }

    .market-place-image2 {
        width: 100%;
    }

    .market-place-header3 {
        flex-direction: column;
    }

    .market-place-element2 {
        width: 100%;
        max-width: 560px;
    }

    .market-place-text19 {
        font-size: 16px;
        line-height: 24px;
    }

    .market-place-image3 {
        width: 100%;
    }

    .market-place-header4 {
        flex-direction: column;
    }

    .market-place-element3 {
        width: 100%;
        max-width: 560px;
    }

    .market-place-text24 {
        font-size: 16px;
        line-height: 24px;
    }

    .market-place-image4 {
        width: 100%;
    }
}

@media(max-width: 479px) {
    .market-place-text {
        font-size: 3em;
    }

    .market-place-header1, .market-place-header2, .market-place-header3, .market-place-header4,
    .market-place-header {
        padding: 92px 32px;
    }

    .market-place-container2, .market-place-container3, .market-place-container4, .market-place-container5 {
        width: 100%;
    }
}