.associate-account-setup-body {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: 32px;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff;
}

.associate-account-setup-header {
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 8px;
}

.associate-account-setup-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.associate-account-setup-divider {
    flex: 0 0 auto;
    width: 100%;
    height: 3px;
    display: flex;
    align-items: flex-start;
    background-color: #050404;
}

.associate-account-setup-content {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: 40px;
    align-items: flex-start;
    justify-content: flex-start;
}

.associate-account-setup-instructions {
    flex: 1;
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding-left: 20px;
    border-radius: 24px;
    padding-right: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: center;
    background-color: #f2f2f2;
}

.associate-account-setup-text1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
}

.associate-account-setup-text2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
}

.associate-account-setup-form-body {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.associate-account-setup-form {
    gap: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.associate-account-setup-create-password {
    height: 65px;
    padding: 10px;
    font-size: 20px;
    outline-style: none;
    transition: 0.3s;
    border-color: #f2f2f2;
    border-width: 2px;
    border-radius: 16px;
}

.associate-account-setup-create-password:focus {
    border-color: #050404;
}

.associate-account-setup-confirm-password {
    height: 65px;
    padding: 10px;
    font-size: 20px;
    transition: 0.3s;
    outline-style: none;
    border-color: #f2f2f2;
    border-width: 2px;
    border-radius: 16px;
}

.associate-account-setup-confirm-password:focus {
    border-color: #050404;
}

.associate-account-setup-button {
    fill: #ffffff;
    color: rgb(255, 255, 255);
    font-size: 18px;
    align-self: flex-end;
    margin-top: 40px;
    padding-top: 16px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 16px;
    background-color: rgb(5, 4, 4);
    border-top-left-radius: 16;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16;
    border-bottom-right-radius: 0;
}

@media(max-width: 991px) {
    .associate-account-setup-content {
        align-self: flex-start;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .associate-account-setup-instructions {
        width: 70%;
        align-self: center;
    }

    .associate-account-setup-form-body {
        width: 70%;
    }
}

@media(max-width: 767px) {
    .associate-account-setup-instructions {
        width: 80%;
    }

    .associate-account-setup-form-body {
        width: 80%;
    }
}

@media(max-width: 479px) {
    .associate-account-setup-instructions {
        width: 100%;
    }

    .associate-account-setup-form-body {
        width: 100%;
    }
}