.media-and-assets-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.media-and-assets-container1 {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 180px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: 180px;
    justify-content: center;
}

.media-and-assets-image {
    width: 200px;
    object-fit: cover;
}

.media-and-assets-text {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    margin-bottom: var(--dl-space-space-twounits);
}

.media-and-assets-text01 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
}

.media-and-assets-assets {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-white);
}

.media-and-assets-asset {
    flex: 0 0 auto;
    display: flex;
    padding: var(--dl-space-space-unit);
    box-shadow: 5px 5px 10px 1px #d4d4d4;
    transition: 0.3s;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
    justify-content: flex-start;
}

.media-and-assets-asset:hover {
    box-shadow: 5px 5px 10px 5px #d4d4d4;
}

.media-and-assets-asset-image {
    width: 200px;
    padding: var(--dl-space-space-unit);
    object-fit: cover;
    margin-bottom: var(--dl-space-space-twounits);
}

.media-and-assets-asset-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.media-and-assets-quick-links {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.media-and-assets-text06 {
    color: #2a2a2a;
}

.media-and-assets-container6 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.media-and-assets-container7 {
    gap: 10px;
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.media-and-assets-navlink {
    display: contents;
}

.media-and-assets-element {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
    border-bottom-width: 2px;
}


.media-and-assets-details {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.media-and-assets-text07 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 24px;
    max-width: 535px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.media-and-assets-icon {
    fill: var(--dl-color-gray-black);
    width: 42px;
    height: 42px;
}

.media-and-assets-link {
    display: contents;
}

@media(max-width: 767px) {
    .media-and-assets-assets {
        justify-content: center;
    }

    .media-and-assets-quick-links {
        flex-direction: column;
    }

    .media-and-assets-text07 {
        font-size: 16px;
        line-height: 24px;
    }
}
@media(max-width: 480px) {
    .media-and-assets-container7 {
        height: auto;
        margin-bottom: var(--dl-space-space-twounits);
        flex-direction: column;
    }

    .media-and-assets-container8 {
        height: auto;
        flex-direction: column;
    }

    .media-and-assets-container1, .media-and-assets-quick-links {
        padding: 64px 32px;
    }
}