.providing-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-header {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-black);
}

.providing-container01 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 2.5em;
}

.providing-text01 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.providing-navlink {
    display: contents;
}

.providing-element {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    border-color: var(--dl-color-gray-white);
    text-decoration: none;
}

.providing-element:hover {
    border-color: var(--dl-color-gray-700);
    border-bottom-width: 4px;
}

.providing-details {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.providing-text02 {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.providing-icon {
    fill: var(--dl-color-gray-white);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

.providing-image {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.providing-container02 {
    gap: 60px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.providing-text03 {
    font-size: 2.6em;
    font-style: normal;
    font-weight: 600;
}

.providing-container03 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-container04 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.providing-image01 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.providing-container05 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-step {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-step-bullet {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.providing-container06 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-container07 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-step-content {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text04 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.providing-text05 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.providing-link {
    text-decoration: underline;
}

.providing-link1 {
    text-decoration: underline;
}

.providing-container08 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.providing-image02 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.providing-container09 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-step1 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-step-bullet1 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.providing-container10 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-container11 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-step-content1 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text09 {
    font-size: 20px;
}

.providing-text10 {
    font-size: 20px;
}

.providing-container12 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.providing-image03 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.providing-container13 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-step2 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-step-bullet2 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.providing-container14 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-container15 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-step-content2 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text13 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.providing-text14 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.providing-navlink1 {
    text-decoration: underline;
}

.providing-container16 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.providing-image04 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.providing-container17 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-step3 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-step-bullet3 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.providing-container18 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-container19 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-step-content3 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text18 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.providing-text19 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.providing-container20 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.providing-image05 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.providing-container21 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-step4 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-step-bullet4 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.providing-container22 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-container23 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-step-content4 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text22 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.providing-text23 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.providing-container24 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.providing-image06 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.providing-container25 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-step5 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-step-bullet5 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.providing-container26 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-container27 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-step-content5 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text26 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.providing-text27 {
    font-size: 20px;
}

.providing-text28 {
    font-style: normal;
    font-weight: 300;
}

.providing-text30 {
    color: #a40b77;
    font-weight: 600;
}

.providing-text31 {
    font-style: normal;
    font-weight: 300;
}

.providing-container28 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.providing-image07 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.providing-container29 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-step6 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-step-bullet6 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.providing-container30 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-container31 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-step-content6 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text33 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.providing-text34 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.providing-container32 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.providing-image08 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.providing-container33 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-step7 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-step-bullet7 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.providing-container34 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-container35 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-step-content7 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text37 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.providing-text38 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.providing-container36 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-image09 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.providing-container37 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-step8 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.providing-step-bullet8 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.providing-container38 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.providing-step-content8 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text41 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.providing-text42 {
    font-size: 20px;
    align-self: flex-start;
    font-style: normal;
    font-weight: 300;
}

.providing-user-safety {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.providing-container39 {
    gap: 30px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.providing-container40 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.providing-text45 {
    color: var(--dl-color-gray-black);
    width: 100%;
}

.providing-text46 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: 0px;
}

.providing-navlink2 {
    font-size: 16px;
    margin-top: var(--dl-space-space-twounits);
    transition: 0.3s;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.providing-navlink2:hover {
    border-bottom-width: 3px;
}

.providing-image10 {
    width: 50%;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.providing-countries-in-serch {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 250px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
    padding-bottom: 250px;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

@media(max-width: 767px) {
    .providing-header {
        flex-direction: column;
    }

    .providing-element {
        width: 100%;
        max-width: 560px;
    }

    .providing-text02 {
        font-size: 16px;
        line-height: 24px;
    }

    .providing-image {
        width: 100%;
    }

    .providing-image01 {
        display: none;
    }

    .providing-image02 {
        display: none;
    }

    .providing-image03 {
        display: none;
    }

    .providing-image04 {
        display: none;
    }

    .providing-image05 {
        display: none;
    }

    .providing-image06 {
        display: none;
    }

    .providing-image07 {
        display: none;
    }

    .providing-image08 {
        display: none;
    }

    .providing-image09 {
        display: none;
    }

    .providing-user-safety {
        flex-direction: column;
    }

    .providing-image10 {
        width: 100%;
    }
}

@media(max-width: 479px) {

    .providing-text03 {
        font-size: 2.3em;
    }

    .providing-container02, .providing-user-safety, .providing-countries-in-serch {
        padding: 92px 32px;
    }
}
