.support-hub-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.support-hub-heading {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 500px;
    padding-left: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ5fHxzdXBwb3J0fGVufDB8fHx8MTcwOTQ5MDc5Nnww&ixlib=rb-4.0.3&w=1500");
}

.support-hub-text {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 6em;
    font-style: normal;
    font-weight: 800;
    padding-bottom: var(--dl-space-space-twounits);
}

.support-hub-text3 {
    color: var(--dl-color-gray-white);
    width: 70%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-countries-and-cities {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.support-hub-account {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.support-hub-link {
    width: 40%;
    font-size: 28px;
    font-style: normal;
    transition: 0.3s;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
}

.support-hub-link:hover {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
}

.support-hub-container1 {
    gap: 40px;
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.support-hub-cities {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.support-hub-city {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-city01 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-cities1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.support-hub-city02 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-city03 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-cities2 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.support-hub-city04 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-city05 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-container2 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-sixunits);
    align-items: flex-start;
    justify-content: flex-start;
}

.support-hub-link1 {
    width: 40%;
    font-size: 28px;
    font-style: normal;
    transition: 0.3s;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
}

.support-hub-link1:hover {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
}

.support-hub-container3 {
    gap: 40px;
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.support-hub-cities3 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.support-hub-city06 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-city07 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-city08 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-sgc {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-sixunits);
    align-items: flex-start;
    justify-content: flex-start;
}

.support-hub-link2 {
    width: 40%;
    font-size: 28px;
    font-style: normal;
    transition: 0.3s;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    border-right-width: 0px;
}

.support-hub-link2:hover {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 2px;
}

.support-hub-container4 {
    gap: 40px;
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.support-hub-cities4 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.support-hub-city09 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-city10 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-cities5 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.support-hub-city11 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-city12 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-container5 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-sixunits);
    align-items: flex-start;
    justify-content: flex-start;
}

.support-hub-link3 {
    width: 40%;
    font-size: 28px;
    font-style: normal;
    transition: 0.3s;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
}

.support-hub-link3:hover {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
}

.support-hub-container6 {
    gap: 40px;
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.support-hub-cities6 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.support-hub-city13 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-city14 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-container7 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-sixunits);
    align-items: center;
    justify-content: flex-start;
}

.support-hub-link4 {
    width: 40%;
    font-size: 28px;
    font-style: normal;
    transition: 0.3s;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
}

.support-hub-link4:hover {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
}

.support-hub-city15 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

@media(max-width: 991px) {
    .support-hub-text {
        width: 80%;
    }
}

@media(max-width: 767px) {
    .support-hub-account {
        flex-direction: column;
    }

    .support-hub-container1 {
        width: 100%;
    }

    .support-hub-container2 {
        flex-direction: column;
    }

    .support-hub-container3 {
        width: 100%;
    }

    .support-hub-sgc {
        flex-direction: column;
    }

    .support-hub-container4 {
        width: 100%;
    }

    .support-hub-container5 {
        flex-direction: column;
    }

    .support-hub-container6 {
        width: 100%;
    }

    .support-hub-container7 {
        align-items: flex-start;
        flex-direction: column;
    }

    .support-hub-city15 {
        width: 100%;
    }
}

@media(max-width: 479px) {
    .support-hub-text {
        font-size: 3em;
    }

    .support-hub-account {
        width: 100%;
    }

    .support-hub-link {
        width: 100%;
        font-size: 20px;
        text-align: left;
    }

    .support-hub-container1 {
        gap: 10;
        margin-top: 0px;
    }

    .support-hub-cities {
        flex-direction: column;
    }

    .support-hub-city {
        width: 100%;
    }

    .support-hub-city01 {
        width: 100%;
    }

    .support-hub-cities1 {
        flex-direction: column;
    }

    .support-hub-city02 {
        width: 100%;
    }

    .support-hub-city03 {
        width: 100%;
    }

    .support-hub-cities2 {
        flex-direction: column;
    }

    .support-hub-city04 {
        width: 100%;
    }

    .support-hub-city05 {
        width: 100%;
    }

    .support-hub-link1 {
        width: 100%;
        font-size: 20px;
    }

    .support-hub-container3 {
        margin-top: 0px;
    }

    .support-hub-cities3 {
        flex-direction: column;
    }

    .support-hub-city06 {
        width: 100%;
    }

    .support-hub-city07 {
        width: 100%;
    }

    .support-hub-link2 {
        width: 100%;
        font-size: 20px;
    }

    .support-hub-cities4 {
        flex-direction: column;
    }

    .support-hub-city09 {
        width: 100%;
    }

    .support-hub-city10 {
        width: 100%;
    }

    .support-hub-cities5 {
        flex-direction: column;
    }

    .support-hub-city11 {
        width: 100%;
    }

    .support-hub-city12 {
        width: 100%;
    }

    .support-hub-link3 {
        width: 100%;
        font-size: 20px;
    }

    .support-hub-cities6 {
        flex-direction: column;
    }

    .support-hub-city13 {
        width: 100%;
    }

    .support-hub-city14 {
        width: 100%;
    }

    .support-hub-link4 {
        width: 100%;
        font-size: 20px;
    }
}
