
.FAQ{
    padding: 4rem;
}

.FAQHeader{
    text-align: center;
    justify-content: space-between;

}

.faq{
    margin: 4rem 0rem 0rem 0rem;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0.2rem;
    color: var(--serch-black-bg);
    overflow-y: hidden;
    height: 5.5rem;
    transition: all 300ms ease-in;
    box-shadow: var(--serch-box-shadow);

}

.faqHeader{
    margin-bottom: 2rem;
    display: flex;
    color: var(--serch-black-bg);
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.faqHeader h3{
    font-size: 1rem;
}

.activeFAQ{
    margin: 4rem 0rem 0rem 0rem;
    padding: 2rem;
    color: var(--serch-black-bg);
    height: auto;
    transition: all 300ms ease;
    box-shadow: var(--serch-box-shadow);
}

#activeFAQ{
    margin: 4rem 0rem 0rem 0rem;
    padding: 2rem;
    color: var(--serch-black-bg);
    height: auto;
    transition: all 300ms ease;
    box-shadow: var(--serch-box-shadow);
}

.activeFAQ a{
    color: var(--serch-light-strong);
    font-size: 1rem;
}

.activeFAQ p{
    font-size: 1rem;
}
@media screen and (max-width:768px) {
    .faq{
        height: 8.0rem;
    }
    .faqHeader{
        flex-direction: column-reverse;
        /* background-color: red; */
    }
    
}