.countries-in-serch-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.countries-in-serch-heading {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 500px;
    padding-left: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1514565131-fce0801e5785?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDExfHxjaXR5fGVufDB8fHx8MTcwOTAwNjQ3NHww&ixlib=rb-4.0.3&w=1500");
}

.countries-in-serch-text {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 5em;
    font-style: normal;
    font-weight: 800;
    padding-bottom: var(--dl-space-space-twounits);
}

.countries-in-serch-text3 {
    color: var(--dl-color-gray-white);
    width: 70%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.countries-in-serch-countries-and-cities {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.countries-in-serch-container1 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.countries-in-serch-text4 {
    width: 40%;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8;
}

.countries-in-serch-container2 {
    gap: 40px;
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.countries-in-serch-cities {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.countries-in-serch-city {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.countries-in-serch-city1 {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

@media(max-width: 991px) {
    .countries-in-serch-text {
        width: 80%;
        font-size: 4em;
    }
}

@media(max-width: 680px) {
    .countries-in-serch-text {
        width: 80%;
        font-size: 3em;
    }
}

@media(max-width: 525px) {
    .countries-in-serch-heading {
        padding-left: 32px;
    }
}

@media(max-width: 479px) {
    .countries-in-serch-text {
        font-size: 2.5em;
    }

    .countries-in-serch-heading {
        padding-left: 24px;
    }
}