@import url(../../config/colors/colors.css);

.support_section{
    padding: 2rem;
    background-color: var(--serch-white-bg);
}

.support_section>h3{
    background-color: var(--serch-virgo-color);
    color: var(--serch-white-bg);
    padding: 2rem;
    border-radius: 0.3rem;
    font-weight: normal;
}

.keyHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyArrowBack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    color: var(--serch-black-bg);
    border-bottom: 2px solid var(--serch-black-bg);
}

.keyArrowBack::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--serch-black-bg);
    transform: scaleX(0);
    transition: all 1s;
}

.keyArrowBack::after{
    bottom: -2px;
    transform-origin: right;
}

.keyArrowBack:hover::after{
    transform: scaleX(1);
}

.keyArrowBack:hover{
    border-bottom: none;
}

.keyArrowBack h3{
    margin-left: 0.4rem;
}

.support_content{
    padding: 2rem;
    text-align: justify;
}
@media screen and (max-width: 768px) {
    .keyHeader{
        flex-direction: column-reverse;
        
    }
    .serchhub{
        display: none;
    }
    .planheader {
        text-align: center;
        border-bottom: 2px solid var(--serch-bg-color);
        margin: 0;
        /* testing for mobile */
        /* background-color: red; */
    }
    .welcometext{
        display: none;
    }
        
    .keyArrowBack{
        display: none;
    
    }
    .support_content{
        padding: 0;
        width: 100px;
        /* background-color: blue; */
        /* text-align: justify; */
    }
    .animLink{
       width: 18rem !important;
    }
}