@media (min-width: 1000px){
    .contentLeftBlack{
        text-align: left;
        max-width: 35rem;
        color: var(--serch-black-bg);
    }

    .contentRightBlack{
        text-align: left;
        max-width: 35rem;
        color: var(--serch-black-bg);
    }

    .productHeading, .productHeader{
        padding: 3rem;
    }

    .about_text{
        padding: 3rem 5rem;
    }

    .productHeadText{
        max-width: 30rem;
    }

    .planheader {
        text-align: center;
        border-bottom: 2px solid var(--serch-bg-color);
        margin: 0rem 10rem 1rem;
    }

    .tabbutton, .active-tab{
        padding: 1rem;
    }

    .tabbuttons{
        width: 70%;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1rem 3rem;
    }
}