.slideContent{
    background-color: var(--serch-light-textTwo);
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 10rem;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, 850%);
    cursor: pointer;
    color: var(--serch-black-bg);
    border: none;
    outline: none;
    background: var(--serch-black-bg);
}

.slidetext{
    color: var(--serch-black-bg);
    margin-left: 2rem;
}