.about-us-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.about-us-about-us-header {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDV8fGFib3V0fGVufDB8fHx8MTcwODg1OTgzMHww&ixlib=rb-4.0.3&w=1500');
    background-repeat: no-repeat;
    background-position: center;
}

.about-us-text {
    color: var(--dl-color-gray-white);
    font-size: 2.5em;
    font-style: normal;
    font-weight: 800;
    padding-top: 800px;
    padding-left: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
}

.about-us-about-us-info {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.about-us-text01 {
    color: #2a2a2a;
    width: 70%;
}

.about-us-text02 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.about-us-link {
    display: contents;
    width: 100%;
}

.about-us-element {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.about-us-element:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.about-us-details {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.about-us-text03 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.about-us-icon {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

.about-us-container01 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.about-us-statements {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.about-us-text04 {
    color: var(--dl-color-gray-500);
    width: 100%;
    align-self: center;
    text-align: center;
    margin-bottom: var(--dl-space-space-threeunits);
}

.about-us-mission {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.about-us-image1 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.about-us-container02 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-text05 {
    color: rgb(42, 42, 42);
    width: 100%;
}

.about-us-text06 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.about-us-navlink {
    display: contents;
}

.about-us-element1 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.about-us-element1:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.about-us-details1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.about-us-text07 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.about-us-vision {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.about-us-image2 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.about-us-container03 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-text08 {
    color: rgb(42, 42, 42);
    width: 100%;
}

.about-us-text09 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.about-us-navlink1 {
    display: contents;
}

.about-us-element2 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.about-us-element2:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.about-us-details2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.about-us-text10 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.about-us-safety {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.about-us-container04 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-text11 {
    color: var(--dl-color-gray-500);
    width: 100%;
}

.about-us-text12 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.about-us-navlink2 {
    display: contents;
}

.about-us-element3 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.about-us-element3:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.about-us-details3 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.about-us-text13 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.about-us-image3 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.about-us-company-information {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-white);
}

.about-us-container05 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.about-us-text14 {
    color: var(--dl-color-gray-500);
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
}

.about-us-container06 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.about-us-container07 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-container08 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
}

.about-us-image4 {
    width: 200px;
    object-fit: cover;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
}

.about-us-text15 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.about-us-text16 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.about-us-navlink3 {
    display: contents;
}

.about-us-element4 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.about-us-element4:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.about-us-details4 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.about-us-text27 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.about-us-latest {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-white);
}

.about-us-container09 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.about-us-text28 {
    color: var(--dl-color-gray-500);
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
}

.about-us-container10 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.about-us-container11 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-text29 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.about-us-text30 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.about-us-navlink4 {
    display: contents;
}

.about-us-element5 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.about-us-element5:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.about-us-details5 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.about-us-text37 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.about-us-icon-large {
    fill: var(--dl-color-gray-black);
    width: 32px;
    height: 32px;
}

.about-us-container12 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-text38 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.about-us-text39 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.about-us-navlink5 {
    display: contents;
}

.about-us-element6 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.about-us-element6:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.about-us-details6 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.about-us-text44 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.about-us-container13 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-text45 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.about-us-text46 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.about-us-navlink6 {
    display: contents;
}

.about-us-element7 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.about-us-element7:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.about-us-details7 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.about-us-text51 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.about-us-icon20 {
    fill: var(--dl-color-gray-black);
    width: 32px;
    height: 32px;
}

.about-us-career-roles {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    z-index: 50;
    max-width: 1200px;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    background-color: #292929;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.about-us-header {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    max-width: 600px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.about-us-description {
    font-size: 20px;
    line-height: 30px;
}

.about-us-buttons {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-navlink7 {
    display: contents;
}

.about-us-get-started {
    display: flex;
    text-decoration: none;
    background-color: var(--dl-color-gray-black);
}

.about-us-text52 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
}

@media(max-width: 991px) {
    .about-us-career-roles {
        gap: var(--dl-space-space-twounits);
        flex-direction: column;
        justify-content: center;
    }

    .about-us-buttons {
        width: 100%;
        flex-direction: column;
    }

    .about-us-get-started {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .about-us-element {
        width: 100%;
    }

    .about-us-text03 {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us-mission {
        flex-direction: column;
    }

    .about-us-image1 {
        width: 100%;
    }

    .about-us-element1 {
        width: 100%;
    }

    .about-us-text07 {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us-vision {
        flex-direction: column;
    }

    .about-us-image2 {
        width: 100%;
    }

    .about-us-element2 {
        width: 100%;
    }

    .about-us-text10 {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us-safety {
        flex-direction: column;
    }

    .about-us-element3 {
        width: 100%;
    }

    .about-us-text13 {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us-image3 {
        width: 100%;
    }

    .about-us-element4 {
        width: 100%;
    }

    .about-us-text27 {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us-element5 {
        width: 100%;
    }

    .about-us-text37 {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us-element6 {
        width: 100%;
    }

    .about-us-text44 {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us-element7 {
        width: 100%;
    }

    .about-us-text51 {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us-career-roles {
        padding-top: var(--dl-space-space-threeunits);
        padding-left: var(--dl-space-space-oneandhalfunits);
        padding-right: var(--dl-space-space-oneandhalfunits);
        padding-bottom: var(--dl-space-space-threeunits);
    }
}

@media(max-width: 480px) {
    .about-us-element {
        width: 100%;
    }

    .about-us-container01 {
        width: 100%;
    }

    .about-us-element1 {
        width: 100%;
    }

    .about-us-element2 {
        width: 100%;
    }

    .about-us-element3 {
        width: 100%;
    }

    .about-us-element4 {
        width: 100%;
    }

    .about-us-element5 {
        width: 100%;
    }

    .about-us-element6 {
        width: 100%;
    }

    .about-us-element7 {
        width: 100%;
    }

    .about-us-container11, .about-us-container12 {
        width: 100%;
    }

    .about-us-about-us-info, .about-us-statements, .about-us-safety,
    .about-us-company-information, .about-us-latest {
        padding: 92px 32px;
    }
}