@import url(../../config/colors/colors.css);

.pageerror_img{
    height: 300px;
    background-image: url('../../assets/404/heading.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.redirectLinks{
    padding: 0rem 2rem;
    width: 100%;
}

.head{
    display: flex;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--serch-black-bg);
    color: var(--serch-black-bg);
    padding: 0.5rem 0rem;
    margin-bottom: 0.8rem;
}

.head::after, .head::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--serch-black-bg);
    transform: scaleX(0);
    transition: all 1s;
}

.head::after{
    top: -2px;
    transform-origin: right;
}

.head::before{
    bottom: -2px;
    transform-origin: left;
}

.head:hover::after, .head:hover::before{
    transform: scaleX(1);
}

.head:hover{
    border-bottom: none;
}