@import url(../../config/colors/colors.css);

/* @keyframes reveal{
    from { translate: 0 20px;}
    to { translate: none; opacity: 1;}
} */

/* .redirectLinks a:hover{
    animation: reveal .5s forwards var(--delay);
} */

.serchHeader{
    background-color: var(--serch-light-textTwo);
    padding: 6rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.serchHeader h2{
    font-size: 32px;
}

.serchBody{
    padding: 6rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*For Pricing HEader Page*/
.serchHeader .headerCenter{
    text-align: left;
}