@import url(../../config/colors/colors.css);
@import url(./responsivelogin.css);
@import url(../../css/index.css);
.profileHome{
    position:relative;
    height: 100dvh;
    /* background-color: red; */
}
.nav_icon{
    display: none;
    position:fixed;
    bottom: -3%;
    
}
.login_form{
    background: #F0F0F0;
    padding: 30px;
    border-radius: 10px;

}
.headerlogin{
    background-color: var(--serch-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.0rem 0.9rem;
}
.servicemadeeasy{
    font-family: Inria Sans;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    /* line-height: 29px; */
    color: var(--serch-light-text);

}

.login{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin:  0 auto;
    justify-content: center;
    max-width: 900px;
   
}
.greeting{
    /* font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em; */


}
div > h1{

font-size: 40px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;


}
div > p{
    
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
color: #B3B3B3;

}
.formcontainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding-left: 1rem; */
    padding-right: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;


}
.formbox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:15px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
   

    background-color: #F0F0F0;


}
.label{
   
font-size: 10px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
margin-bottom: 15px;
padding-bottom: 15px;
}

.form-input-box{
/* box-sizing: border-box; */
width: 100%;
height: 70px;
padding-left: 20px;
padding-right: 20px;
margin-bottom: 15px;
display: flex;
align-items: center;
margin-top: 15px;

/* Dark Purple */
/* background-color: red; */
border: 2px solid #3B043B;
border-radius: 10px;
}
.input{
    /* background-color: blue; */
    height: 60px;
    width: 100%;
    font-size: 1.5rem;

}
.input::placeholder{
    font-size: 1.5rem;
    padding-left: 5px;

}
.thick{
    font-weight: 700;
}
.option-gender{
    font-size: 1rem;

}
.forgotpassword, .createaccount{
    color: var(--serch-purple-deeper);
}
.newaccount{
    color: var(--serch-light-textThree);
    font-size: 1.75rem;


}
.createaccount{
    font-size:1.5rem;
}
.account{
    display: flex;
     align-items:center;
     gap:20px;
}
.container{
    display:flex;
    /* flex-direction: column; */
    height: 100%;
    /* background-color: red; */
}

.black{
    flex: 1;
    /* height: ; */
    /* color: white; */
    background-color: black;
    /* margin */
    position: relative;

}
.white{
    flex: 1;
    /* height: 100vh; */
    /* background-color: white; */

}
.formheader{
    padding-left: 6rem;
    padding-right: 6rem;

}
.formboxsignup{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:15px;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
} 

.forminnerbox{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/*  */
    .continue{
        display: flex;
        justify-content: center;
        
    }
    .verify-email-page{
        padding: 3rem;
    }
    .verify-input{
        width: 70px;
        height: 70px;
        padding-left: 20px;
        font-size: 1.5rem;
        
        /* Dark Purple */
        
        border: 2px solid #3B043B;
        border-radius: 10px;
}
.verify-email{
    display: flex;
    flex-direction: column;
    height: 150vh;
}
.verify-email > span{
    
    margin-bottom: 20px;
}
 .fw-semi-bold{
    color: var(--serch-light-textThree);
    padding-bottom: 20px;
   

}
.legend{
    color: var(--serch-light-textThree);

}

.wf-semi-bold{
    font-size: 1rem;
    font-weight: 700;
   color: #3F0F36;

}
.provider-title{
    font-size: 1.3rem;
    color: #FDFDFD;

}
.provide-subtitle{
    font-size: 0.9rem;
    color: #B3B3B3;
}
.header_signup{
    
    display: none;
}

.service{
  
    height: 150vh;
}
  
.service-item-3{
width: 287px;
height: 380px;
background: #000870;
padding: 1rem 1rem;
text-align: center;
box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
border-radius: 5px;
grid-column: 2 / 5;
grid-row: 2 / 3;
/* flex: 1 1 calc(15% - 20px); */

}

.service-item-1{
    width: 287px;
    height: 380px;
    background: #000870;
    padding: 1rem 1rem;
    text-align: center;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    /* flex: 1 1 calc(15% - 20px); */
    
    }
    .service-item-2{
        width: 287px;
        height: 380px;
        background: #000870;
        padding: 1rem 1rem;
        text-align: center;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        grid-column: 5 / -1;
        grid-row: 1 / 5;
        /* flex: 1 1 calc(15% - 20px); */
        
        }


            
.service-rapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
    /* flex-wrap: wrap; */
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 200px;
}
.suscriber-card-wrapper{
    /* background-color: blue; */
    width: 477px;
    height: auto;
    /* display: flex; */
   margin: 0 auto;
   justify-content: center;
   
   
}
/* .subscribe-box{
    display: flex;
    flex-direction: column;
    background-color: #B80000;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
  


} */

.free-trial{
    background-color: #B80000;
    

 }
 .premium-trial{
    
        

 }

    .wrapper {
        max-width: 450px;
        margin: 2rem auto 0;
        text-align:justify;
        
        }

        .c-stepper__content{
            line-height: 20px;
          }
      

    

.subscribe-wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:15px;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
} 
.button-signup{
    padding: 1rem 3rem;
    position: relative;
    margin-top: 1rem;
    font-size: 14px;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--serch-white-bg);
    transition: all .5s;
    background-color: #3F0F36;
}
.subscribe-image{
    height: 5.875rem;
    width:5.875rem;
}
.before-subscribe,.before-verify{
    font-size:1rem; 
    /* margin-top: -20px; */
    color: black;
    line-height: 15px;
    background-color: #B3B3B3;
    padding: 5px;
    border-radius: 6px;
}
.alternative-login{
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    gap: 40px;
}
.alternative-login > h2{
    color: white;

}
 .login-alt{
    color:#740274;
}
.footer-stepper{
    position: absolute;
    bottom: 0;
}
.footer-title{
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    width: 100%;
    /* background-color: red; */
    
    
    justify-content: space-between;
}
.footer-title > p{
    font-size: 1rem;
    color:#B3B3B3;
    
}