@import url(../../config/colors/colors.css);

.pay-options{
    padding: 4rem;
}

.payment-boxes{
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    .payment-boxes{
        justify-content: center;
    }

    .payment-boxes div{
        margin: 0.5rem;
    }

    .pay-options{
        padding: 1rem;
    }
}

@media screen and (max-width:480px) {
    .payment-boxes{
        justify-content: center;
    }
}