@import "../../css/index.css";

@media( 768px >= width ){
    .black{
        display: none;
    }
    
    .serchlogin{
        /* background-color: red; */
         padding: 1rem;

       }

       div > h1{

        font-size: 1.5rem;
        
        } 
         div > p{
            
        font-size: 1.3rem;
        
        } 
        .label{
            font-size: 1.3rem;
        }

        ::placeholder{
            font-size: 1rem;
        }
        .remember, .forgotpassword{
            font-size: 1rem;
        }
        .newaccount, .createaccount{
            font-size: 1rem;
        }
        .account{
            display: flex;
             align-items:center;
             gap:5px;
        }
        .input{
            font-size: 1.5rem;
        }
        ::placeholder{
            font-size: 1rem;
        }

        .formboxsignup{
            
            padding: 1rem;
            
    
    }
    .service-rapper{
    display: flex;
    flex-direction: column;
    }
    .login_form{
        padding: 10px;
    }
    .input::placeholder{
        font-size: 1rem;
        padding-left: 2px;
    

    }
   
    .input{
        /* background-color: blue; */
        height: 60px;
        width: 100%;
        font-size: 1rem;
    
    }
    .verify-email-page{
        padding: 1rem;
    }
    .verify-input{
        width: 50px;
        height: 50px;
        padding-left: 5px;
        font-size: 1.5rem;
}

.subtitle{
    font-size: 16px;
    margin-top: -10px;
    line-height: 20px;
}
.header_signup{
    display: block;
}
      
}
@media(  769px <= width <= 999px ){

    
       
    .serchlogin{
        /* background-color: red; */
         padding: 1rem;
       

    }
    
    .input::placeholder{
        font-size: 0.5rem;
        padding-left: 2px;
    
    }
    
    
    .formboxsignup{
            
        padding: 1rem;
    
}


.verify-email-page{
    padding: 1rem;
}
    
.c-stepper__title {
    
    font-size: clamp(0.75rem, 4vw, 1rem);
    margin-bottom: clamp(0.85rem, 2vmax, 1rem);
  }
  
  .c-stepper__desc {
  
    font-size: clamp(0.85rem, 2vmax, 0.75rem);
    line-height: 24px;
  }
  .wrapper {
    /* background-color: red;; */
    margin-top: 6rem;
    margin-left: -2rem;
    
  }
         
}
