@import url(../../config/colors/colors.css);
@import url(./backgrounds.css);
@import url(./others.css);

.blog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-header-button-mobile{
    display: none;
}

.blog-header-button{
    padding: 0.8rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    /* cursor: pointer; */
}

.blog-header-options{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.plans{
    padding: 3rem 1rem;
    width: 100%;
    margin: 0rem;
}

.aries{
    color: var(--serch-aries-color);
}

.libra{
    color: var(--serch-libra-color);
}

.aqua{
    color: var(--serch-aqua-color);
}

.virgo{
    color: var(--serch-virgo-color);
}

.planDetail{
    color: #030001,
}

.planDetail:hover{
    color: var(--serch-white-bg);
    background-color: var(--serch-purple-deep);
    border: none;
}

.emailUs{
    padding: 2rem;
}

.note{
    padding: 2rem;
}

.cover{
    padding: 2rem;
    background-color: var(--serch-white-bg);
}

.animLink{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem 0rem 0rem;
    color: var(--serch-black-bg);
    max-width: 21rem;
    /* width: -moz-fit-content;
    width: fit-content; */
    font-weight: bold;
    border-bottom: 2px solid var(--serch-black-bg);
}

.animLink img{
    display: none;
    transition: all 5s;
}

.animLink::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--serch-black-bg);
    transform: scaleX(0);
    transition: all 1s;
}

.animLink::after{
    bottom: -2px;
    transform-origin: left;
}

.animLink:hover::after{
    transform: scaleX(1);
}

.animLink:hover{
    border-bottom: none;
}

.animLink:hover img{
    display: block;
}

.tabButtons{
    max-width: 70%;
}

.tabButton{
    width: 50%;
}

.active-tab{
    border-bottom: 2px solid var(--serch-border-bottom);
}

.tabContent{
    display: none;
}

.active-tabContent{
    display: block;
}

.serch-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .emailUs{
        padding: 1rem;
    }

    .tabButtons{
        flex-direction: column;
    }

    .tabButton{
        width: 100%;
    }

    .cover-header{
        flex-direction: column-reverse;
    }

    .faqBox{
        padding: 1rem;
    }

    .note{
        padding: 1rem;
    }

    .cover{
        padding: 1rem;
    }

    .blog-header, .serch-boxes{
        display: block;
    }

    .blog-header-options, .blog-header-button{
        display: none;
    }

    .blog-header-button-mobile{
        cursor: pointer;
        display: flex;
        padding: 0.8rem;
        background-color: #f2f2f2;
        border-radius: 1rem;
        width: -moz-fit-content;
        width: fit-content;
    }

    .blog-header-button-mobile h3{
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}