.careers-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.careers-about-us-header {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1459180129673-eefb56f79b45?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fGNhcmVlcnxlbnwwfHx8fDE3MDg5MzU5Nzd8MA&ixlib=rb-4.0.3&w=1500");
    background-repeat: no-repeat;
    background-position: center;
}

.careers-text {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 6em;
    font-style: normal;
    font-weight: 800;
    padding-top: 800px;
    padding-left: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1516880711640-ef7db81be3e1?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDY0fHx0ZWFtfGVufDB8fHx8MTcwODkzNjI1Mnww&ixlib=rb-4.0.3&w=1500");
}

.careers-header {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-white);
}

.careers-container01 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.careers-text04 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.careers-text05 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.careers-image {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.careers-the-team {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-black);
}

.careers-image1 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.careers-container02 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.careers-text08 {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 2.5em;
}

.careers-text09 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.careers-your-place {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-black);
}

.careers-container03 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.careers-text10 {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 2.5em;
}

.careers-text11 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.careers-image2 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.careers-life-at-serch {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-black);
}

.careers-image3 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.careers-container04 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.careers-text12 {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 2.5em;
}

.careers-text13 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.careers-with-serch {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.careers-container05 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.careers-text14 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.careers-text15 {
    color: var(--dl-color-gray-black);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.careers-image4 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.careers-slider {
    width: 100%;
    height: 700px;
    display: inline-block;
}

.careers-slider-slide {
    display: flex;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDM5fHx0ZWFtfGVufDB8fHx8MTcwOTQ4MzU2NXww&ixlib=rb-4.0.3&w=1500");
}

.careers-slider-slide1 {
    display: flex;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1468421870903-4df1664ac249?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDkwfHx0ZWFtfGVufDB8fHx8MTcwOTQ4MzYwN3ww&ixlib=rb-4.0.3&w=1500");
}

.careers-slider-slide2 {
    display: flex;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1689896506064-9da2afbbc6e8?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEyM3x8aW5ub3ZhdGUlMjBxdW90ZXN8ZW58MHx8fHwxNzA5NDg0MTgzfDA&ixlib=rb-4.0.3&w=1500");
}

.careers-slider-slide3 {
    display: flex ;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1594632064089-30fa052b5926?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIxMHx8aW5ub3ZhdGUlMjBxdW90ZXN8ZW58MHx8fHwxNzA5NDg0MjMxfDA&ixlib=rb-4.0.3&w=1500");
}

.careers-slider-slide4 {
    display: flex ;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1516383740770-fbcc5ccbece0?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQwNXx8aW5ub3ZhdGUlMjBxdW90ZXN8ZW58MHx8fHwxNzA5NDg0MzEyfDA&ixlib=rb-4.0.3&w=1500");
}

.careers-slider-pagination {
    display: block;
}

.careers-slider-button-prev {
    color: var(--dl-color-gray-900);
}

.careers-slider-button-next {
    color: var(--dl-color-gray-900);
}

.careers-start-now {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: #f7f7f7;
}

.careers-text16 {
    margin-bottom: var(--dl-space-space-fourunits);
}

.careers-features {
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin-top: 0px;
    align-items: center;
    user-select: none;
    border-color: #5A5A5A;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: row;
    justify-content: center;
    border-bottom-width: 1px;
}

.careers-feature {
    align-self: center;
    border-color: var(--dl-color-gray-500);
    padding-bottom: var(--dl-space-space-halfunit);
    border-bottom-width: 2px;
}

.careers-text17 {
    color: var(--dl-color-gray-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.careers-container06 {
    gap: 0;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.careers-container07 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
}

.careers-icon {
    width: 42px;
    height: 42px;
}

.careers-text18 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.careers-text19 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.careers-container08 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
}

.careers-icon02 {
    width: 42px;
    height: 42px;
}

.careers-text25 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.careers-text26 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.careers-container09 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
}

.careers-icon04 {
    width: 42px;
    height: 42px;
}

.careers-text32 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.careers-text33 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.careers-container10 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
}

.careers-icon06 {
    width: 42px;
    height: 42px;
}

.careers-text36 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.careers-text37 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.careers-come-innovate {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.careers-container11 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.careers-text40 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.careers-text41 {
    color: var(--dl-color-gray-black);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.careers-image5 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.careers-connect-with-us {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.careers-link {
    display: contents;
}

.careers-element {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
    border-bottom-width: 4px;
}

.careers-details {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.careers-text42 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 24px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.careers-icon08 {
    fill: var(--dl-color-gray-black);
    width: 42px;
    height: 42px;
}

.careers-link1 {
    display: contents;
}

.careers-element1 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
    border-bottom-width: 4px;
}

.careers-element1:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.careers-details1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.careers-text43 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 24px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.careers-icon10 {
    fill: var(--dl-color-gray-black);
    width: 42px;
    height: 42px;
}

@media(max-width: 991px) {
    .careers-container06 {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media(max-width: 767px) {
    .careers-header {
        flex-direction: column;
    }

    .careers-image {
        width: 100%;
    }

    .careers-the-team {
        flex-direction: column;
    }

    .careers-image1 {
        width: 100%;
    }

    .careers-your-place {
        flex-direction: column;
    }

    .careers-image2 {
        width: 100%;
    }

    .careers-life-at-serch {
        flex-direction: column;
    }

    .careers-image3 {
        width: 100%;
    }

    .careers-with-serch {
        flex-direction: column;
    }

    .careers-image4 {
        width: 100%;
    }

    .careers-features {
        gap: var(--dl-space-space-oneandhalfunits);
        margin-top: var(--dl-space-space-threeunits);
        border-color: #5A5A5A;
        margin-bottom: var(--dl-space-space-threeunits);
        flex-direction: column;
    }

    .careers-feature {
        width: 100%;
        padding-bottom: var(--dl-space-space-unit);
    }

    .careers-text17 {
        font-size: 20px;
    }

    .careers-container06 {
        flex-direction: column;
    }

    .careers-container07 {
        width: 100%;
    }

    .careers-container08 {
        width: 100%;
    }

    .careers-container09 {
        width: 100%;
    }

    .careers-container10 {
        width: 100%;
    }

    .careers-come-innovate {
        flex-direction: column;
    }

    .careers-image5 {
        width: 100%;
    }

    .careers-connect-with-us {
        flex-direction: column;
    }

    .careers-element {
        width: 100%;
        max-width: 560px;
    }

    .careers-text42 {
        font-size: 16px;
        line-height: 24px;
    }

    .careers-element1 {
        width: 100%;
        max-width: 560px;
    }

    .careers-text43 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media(max-width: 479px) {
    .careers-text {
        font-size: 3em;
    }

    .careers-container06 {
        flex-direction: column;
    }

    .careers-container07 {
        width: 100%;
    }

    .careers-container08 {
        width: 100%;
    }

    .careers-container09 {
        width: 100%;
    }

    .careers-container10 {
        width: 100%;
    }

    .careers-element {
        width: 350px;
        max-width: auto;
    }

    .careers-element1 {
        width: 350px;
        max-width: auto;
    }

    .careers-connect-with-us {
        padding: 92px 32px;
    }

    .careers-element, .careers-element1 {
        width: 100%;
    }
}