.business-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.business-header {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-black);
}

.business-container01 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.business-text {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 2.5em;
}

.business-text01 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.business-image {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.business-container02 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    background-color: var(--dl-color-gray-white);
}

.business-text02 {
    margin-bottom: var(--dl-space-space-fourunits);
}

.business-container03 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
    justify-content: center;
}

.business-image01 {
    width: 320px;
    object-fit: cover;
}

.business-container04 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.business-container05 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.business-icon {
    fill: var(--dl-color-gray-500);
    width: 32px;
    height: 32px;
}

.business-text03 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.business-text04 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.business-container06 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.business-icon02 {
    fill: var(--dl-color-gray-500);
    width: 32px;
    height: 32px;
}

.business-text11 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.business-text12 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.business-container07 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.business-icon04 {
    fill: var(--dl-color-gray-500);
    width: 32px;
    height: 32px;
}

.business-text21 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.business-text22 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.business-services {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
}

.business-electrician {
    flex: 0 0 auto;
    height: var(--dl-size-size-xxlarge);
    display: flex;
    padding: var(--dl-space-space-unit);
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    background-color: #fdfdfd;
}

.business-image02 {
    width: 200px;
    padding: var(--dl-space-space-twounits);
    object-fit: cover;
}

.business-text29 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.business-mechanic {
    flex: 0 0 auto;
    height: var(--dl-size-size-xxlarge);
    display: flex;
    padding: var(--dl-space-space-unit);
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    background-color: #fdfdfd;
}

.business-image03 {
    width: 200px;
    padding: var(--dl-space-space-oneandhalfunits);
    object-fit: cover;
}

.business-text30 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.business-plumber {
    flex: 0 0 auto;
    height: var(--dl-size-size-xxlarge);
    display: flex;
    padding: var(--dl-space-space-unit);
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    background-color: #fdfdfd;
}

.business-image04 {
    width: 200px;
    padding: var(--dl-space-space-oneandhalfunits);
    object-fit: cover;
}

.business-text31 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.business-carpenter {
    flex: 0 0 auto;
    height: var(--dl-size-size-xxlarge);
    display: flex;
    padding: var(--dl-space-space-unit);
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    background-color: #fdfdfd;
}

.business-image05 {
    width: 200px;
    padding: var(--dl-space-space-oneandhalfunits);
    object-fit: cover;
}

.business-text32 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.business-start-now {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: #f7f7f7;
}

.business-text33 {
    margin-bottom: var(--dl-space-space-fourunits);
}

.business-features {
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin-top: 0px;
    align-items: center;
    user-select: none;
    border-color: #5A5A5A;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: row;
    justify-content: center;
    border-bottom-width: 1px;
}

.business-feature {
    align-self: center;
    border-color: var(--dl-color-gray-500);
    padding-bottom: var(--dl-space-space-halfunit);
    border-bottom-width: 2px;
}

.business-text34 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.business-container08 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.business-container09 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.business-icon06 {
    fill: var(--dl-color-gray-500);
    width: 42px;
    height: 42px;
}

.business-text35 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.business-text36 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.business-container10 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.business-icon09 {
    fill: var(--dl-color-gray-500);
    width: 42px;
    height: 42px;
}

.business-text43 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.business-text44 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.business-link {
    display: contents;
}

.business-element {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.business-element:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.business-details {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.business-text54 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.business-icon12 {
    fill: var(--dl-color-gray-black);
    width: 32px;
    height: 32px;
}

.business-container11 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.business-icon14 {
    fill: var(--dl-color-gray-500);
    width: 42px;
    height: 42px;
}

.business-text55 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.business-text56 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.business-navlink {
    display: contents;
}

.business-element1 {
    width: 100%;
    position: relative;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.business-element1:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 4px;
}

.business-details1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.business-text63 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 14px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.business-icon16 {
    fill: var(--dl-color-gray-black);
    width: 32px;
    height: 32px;
}

.business-scheduling {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.business-container12 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.business-text64 {
    color: var(--dl-color-gray-500);
    width: 100%;
}

.business-text65 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.business-image06 {
    width: 50%;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.business-pricing {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    z-index: 50;
    max-width: 100%;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.business-header1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    max-width: 900px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.business-left {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    max-width: 600px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.business-section {
    color: var(--dl-color-gray-black);
    font-size: 20px;
}

.business-heading {
    color: var(--dl-color-gray-500);
}

.business-right {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.business-paragraph {
    color: var(--dl-color-gray-700);
    width: 100%;
    font-size: 18px;
    max-width: 600px;
    text-align: center;
    line-height: 32px;
}

.business-plans {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    z-index: 50;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: flex-start;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
}

.business-scheduling1 {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.business-container23 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.business-text68 {
    color: var(--dl-color-gray-500);
    width: 100%;
}

.business-text69 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.business-image09 {
    width: 50%;
    height: 459px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.business-countries-in-serch {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
    padding-bottom: 120px;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.business-faq {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: 120px;
    background-color: var(--dl-color-gray-white);
}

.business-header4 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex: 0;
    width: 100%;
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.business-section1 {
    color: var(--dl-color-gray-500);
}

.business-heading1 {
    color: var(--dl-color-gray-black);
    text-align: center;
}

.business-element2 {
    flex: 0;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    user-select: none;
}

.business-details2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.business-text70 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.business-text71 {
    color: var(--dl-color-gray-700);
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    user-select: text;
}

.business-icon51 {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

.business-navlink1 {
    display: contents;
}

.business-element3 {
    flex: 0;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    user-select: none;
    text-decoration: none;
}

.business-details3 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.business-text72 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.business-text73 {
    color: var(--dl-color-gray-700);
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    user-select: text;
}

.business-icon53 {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

.business-navlink2 {
    display: contents;
}

.business-element4 {
    flex: 0;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    user-select: none;
    text-decoration: none;
}

.business-details4 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.business-text74 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.business-text75 {
    color: var(--dl-color-gray-700);
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    user-select: text;
}

.business-icon55 {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

.business-container05, .business-container06, .business-container07,
.business-container09, .business-container10, .business-container11 {
    max-width: 350px;
}

@media(max-width: 991px) {
    .business-container04 {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .business-services {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .business-container08 {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .business-plans {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media(max-width: 767px) {
    .business-header {
        flex-direction: column;
    }

    .business-image {
        width: 100%;
    }

    .business-services {
        justify-content: center;
    }

    .business-features {
        gap: var(--dl-space-space-oneandhalfunits);
        margin-top: var(--dl-space-space-threeunits);
        border-color: #5A5A5A;
        margin-bottom: var(--dl-space-space-threeunits);
        flex-direction: column;
    }

    .business-feature {
        width: 100%;
        padding-bottom: var(--dl-space-space-unit);
    }

    .business-text34 {
        font-size: 20px;
    }

    .business-text54 {
        font-size: 16px;
        line-height: 24px;
    }

    .business-text63 {
        font-size: 16px;
        line-height: 24px;
    }

    .business-scheduling {
        flex-direction: column;
    }

    .business-image06 {
        width: 100%;
    }

    .business-scheduling1 {
        flex-direction: column;
    }

    .business-image09 {
        width: 100%;
    }

    .business-element3 {
        width: 100%;
        max-width: 560px;
    }

    .business-text72 {
        font-size: 16px;
        line-height: 24px;
    }

    .business-text74 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media(max-width: 479px) {
    .business-pricing {
        gap: var(--dl-space-space-oneandhalfunits);
    }

    .business-heading {
        font-size: 32px;
        text-align: center;
    }

    .business-paragraph {
        font-size: 16px;
    }

    .business-container05, .business-container06, .business-container07,
    .business-container09, .business-container10, .business-container11 {
        width: 100%;
    }
}
