
.alltabs{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: none;
}

.tabbuttons{
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    border-top-right-radius: 1rem;
}

.tabbutton{
    width: 50%;
    background-color: var(--serch-white-bg);
    color: var(--serch-button-color);
    font-size: 14px;
    font-weight: 600;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
}

.active-tab{
    width: 50%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--serch-white-bg);
    border-bottom: 2px solid var(--serch-border-bottom);
    font-weight: 600;
    cursor: pointer;
}

.tabcontent{
    flex-grow: 1;
    margin: 1.5rem;
    display: none;
}

.active-tab-content{
    display: block;
}

.mechanic, .electrician, .plumber, .personalshopper {
    margin: 2rem 0rem;
}

.mechanic .background{
    background:url(../../../assets/others/mechanic.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
}

.electrician .background{
    background:url(../../../assets/others/electrician.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
}

.personalshopper .background{
    background:url(../../../assets/others/shopping.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
}

.plumber .background{
    background:url(../../../assets/others/plumbing.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
}

.contents {
    margin: 2rem 1rem;
}

.contents h2 {
    color: #00021e;
}

.content a{
    margin: 1rem;
    padding: 0.5rem;
    display: block;
    color: var(--serch-light-link);
    background-color: var(--serch-button-color);
    border-radius: 0.3rem;
}