.safeBody{
    padding: 2rem;
}

.safeBody>p{
    max-width: 30rem;
}

.note{
    background-color: var(--serch-virgo-color);
    color: var(--serch-white-bg);
    padding: 2rem;
    border-radius: 0.3rem;
    font-weight: normal;
}

.safetyGuide .boxNoWidth{
    max-width: 30rem;
}
@media screen and (max-width: 768px){
    /* .safetyGuide{
        flex-direction: column;
    } */
}