.career{
    padding: 4rem;
    background-color: var(--serch-black-bg);
}

.career>h1{
    color: var(--serch-white-bg);
    margin-bottom: 4rem;
}

.careerOne{
    background-color: var(--serch-black-bg);
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
    justify-content: space-between;
}

.careerOneContent{
    text-align: left;
    margin-left: 10rem;
    margin-right: 4rem;
    color: var(--serch-white-bg);
}

.careerOneContent p, .careerTwoContent p{
    color: var(--serch-white-bg);
}

.careerTwoContent{
    text-align: left;
    margin-right: 10rem;
    margin-left: 4rem;
    color: var(--serch-white-bg);
}

.careerOneContent h2, .careerTwoContent h2{
    color: var(--serch-white-bg);
}

.newsroomHeader{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--serch-light-textTwo);
}
