:root{
    --serch-bg-color: #000000;

    --serch-white-bg: #ffffff;
    --serch-black-bg: #000000;
    --serch-lighter: #eeeeee;

    --serch-light-link: #ffffff;
    --serch-link-hover: #bdbdbd;
    --serch-boxBlue-border: #0A7CFF;

    --serch-yellow: #FFC000;
    --serch-green: #70AD47;
    --serch-blue: #5B9BD5;
    --serch-red: #FF0000;

    --serch-box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px 0px;

    --serch-light-text: #ffffff;
    --serch-light-textTwo: #bdbdbd;
    --serch-light-p: #3c3c3c;
    --serch-light-strong: #006da4;

    --serch-button-color: #000000;
    --serch-border-bottom: #000000;

    --serch-logo-shadow: #090909;

    --serch-aries-color: #b80000;
    --serch-libra-color: #b8006b;
    --serch-aqua-color: #0009b8;
    --serch-virgo-color: #2c0f0c;

    --serch-purple-deep: #3B043B;
}

:root{
    --delay: 0s;
}

/* Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,700&display=swap');

/* :root{
     --regular: 400;
     --bold: 700;
     
     --font-roboto:'Roboto', sans-serif;
     --font-open-sans:'Open Sans', sans-serif;
     --font-nunito-sans: 'Nunito Sans', sans-serif;
} */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Open Sans */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); */

/* Nunito Sans */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,700&display=swap'); */

/* :root{
     --color-primary: #007bff;
     --color-secondary: #6c757d;
     --color-success: #28a745;
     --color-danger: #dc3545;
     --color-warning: #ffc107;
     --color-info: #17a2b8;
     --color-light: #f8f9fa;
     --color-dark: #343a40;
     --color-white: #ffffff;
    
     --regular: 400;
     --bold: 700;
     
     --font-roboto:'Roboto', sans-serif;
     --font-open-sans:'Open Sans', sans-serif;
     --font-nunito-sans: 'Nunito Sans', sans-serif;
} */

/* :root{
     --color-primary: #007bff;
     --color-secondary: #6c757d;
     --color-success: #28a745;
     --color-danger: #dc3545;
     --color-warning: #ffc107;
     --color-info: #17a2b8;
     --color-light: #f8f9fa;
     --color-dark: #343a40;
     --color-white: #ffffff;
} */