.leadership-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.leadership-container1 {
    gap: var(--dl-space-space-sixunits);
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-sixunits);
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.leadership-container2 {
    gap: var(--dl-space-space-fiveunits);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.leadership-text {
    font-size: 3em;
}

.leadership-team {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.leadership-box {
    flex: 0 0 auto;
    width: 350px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.leadership-image {
    flex: 1;
    width: 100%;
    object-fit: cover;
}

.leadership-text01 {
    font-size: 20px;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 500;
}

.leadership-text02 {
    font-size: 16px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 400;
}

.leadership-link {
    font-size: 16px;
    margin-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.leadership-container3 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.leadership-text11 {
    font-size: 2.2em;
}

.leadership-box5 {
    flex: 0 0 auto;
    width: 350px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.leadership-text12 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.leadership-text13 {
    font-size: 16px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 400;
}

@media(max-width: 767px) {
    .leadership-team {
        align-items: center;
        justify-content: center;
    }

    .leadership-box {
        align-items: flex-start;
    }
}

@media(max-width: 480px) {
    .leadership-text {
        font-size: 2.3em;
    }

    .leadership-box {
        width: 100%;
    }

    .leadership-text11 {
        font-size: 2.3em;
    }

    .leadership-container1 {
        padding: 92px 32px;
    }
}