.footer-short-footer-short {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: var(--dl-color-gray-black);
}

.footer-short-container {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-short-header {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.footer-short-navlink {
    display: contents;
}

.footer-short-branding {
    width: 120px;
    object-fit: cover;
    text-decoration: none;
}

.footer-short-image {
    width: 169px;
    height: 117px;
    object-fit: cover;
}

.footer-short-subscribe {
    gap: var(--dl-space-space-unit);
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-short-copyright {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.footer-short-text {
    color: rgb(196, 196, 196);
    width: 100%;
    font-size: 14px;
    line-height: 21px;
}

.footer-short-container1 {
    gap: var(--dl-space-space-unit);
    width: 473px;
    height: 100px;
    display: flex;
    align-items: center;
}

.footer-short-link {
    color: var(--dl-color-gray-500);
    width: auto;
    font-size: 14px;
    align-self: center;
    line-height: 21px;
    text-decoration: none;
}


@media(max-width: 991px) {
    .footer-short-container1 {
        width: 511px;
    }
}

@media(max-width: 767px) {
    .footer-short-container {
        gap: var(--dl-space-space-threeunits);
        flex-direction: column;
        justify-content: center;
    }

    .footer-short-subscribe {
        width: 100%;
    }

    .footer-short-copyright {
        flex-wrap: wrap;
    }

    .footer-short-container1 {
        width: 352px;
    }
}
