.provideSharing-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.provideSharing-header {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-black);
}

.provideSharing-container01 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-text {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 2.5em;
}

.provideSharing-text01 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.provideSharing-image {
    width: 50%;
    height: 784px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.provideSharing-as-technology {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.provideSharing-pasted-image {
    width: 50%;
}

.provideSharing-container02 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-text02 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.provideSharing-text03 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.provideSharing-aisi {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.provideSharing-pasted-image1 {
    width: 50%;
}

.provideSharing-container03 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-text04 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.provideSharing-text05 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.provideSharing-soc {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.provideSharing-pasted-image2 {
    width: 50%;
}

.provideSharing-container04 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-text11 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 2.5em;
}

.provideSharing-text12 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: var(--dl-space-space-fourunits);
}

.provideSharing-header1 {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 250px;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: 250px;
    background-color: var(--dl-color-gray-black);
}

.provideSharing-text15 {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 2.5em;
    text-align: center;
}

.provideSharing-container05 {
    gap: 60px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.provideSharing-text20 {
    color: var(--dl-color-gray-white);
    font-size: 2.6em;
}

.provideSharing-container06 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-container07 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.provideSharing-image1 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.provideSharing-container08 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-step {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.provideSharing-step-bullet {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.provideSharing-container09 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.provideSharing-container10 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.provideSharing-step-content {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-text21 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.provideSharing-text22 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.provideSharing-container11 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.provideSharing-image2 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.provideSharing-container12 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-step1 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.provideSharing-step-bullet1 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.provideSharing-container13 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.provideSharing-container14 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.provideSharing-step-content1 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-text23 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.provideSharing-text24 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.provideSharing-link {
    text-decoration: underline;
}

.provideSharing-container15 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.provideSharing-image3 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.provideSharing-container16 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-step2 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.provideSharing-step-bullet2 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.provideSharing-container17 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.provideSharing-container18 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.provideSharing-step-content2 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-text28 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.provideSharing-text29 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.provideSharing-link1 {
    text-decoration: underline;
}

.provideSharing-container19 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.provideSharing-image4 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.provideSharing-container20 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-step3 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.provideSharing-step-bullet3 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.provideSharing-container21 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.provideSharing-step-content3 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.provideSharing-text33 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.provideSharing-text34 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.provideSharing-countries-in-serch {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
    padding-bottom: 120px;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.provideSharing-faq {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: 120px;
    background-color: var(--dl-color-gray-white);
}

.provideSharing-header2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex: 0;
    width: 100%;
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.provideSharing-section {
    color: var(--dl-color-gray-500);
}

.provideSharing-heading {
    color: var(--dl-color-gray-black);
    text-align: center;
}

.provideSharing-element {
    flex: 0;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    user-select: none;
}

.provideSharing-details {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.provideSharing-text37 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.provideSharing-text38 {
    color: var(--dl-color-gray-700);
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    user-select: text;
}

.provideSharing-icon {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

.provideSharing-navlink {
    display: contents;
}

.provideSharing-element1 {
    flex: 0;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    user-select: none;
    text-decoration: none;
}

.provideSharing-details1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.provideSharing-text39 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.provideSharing-text40 {
    color: var(--dl-color-gray-700);
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    user-select: text;
}

.provideSharing-icon2 {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

.provideSharing-navlink1 {
    display: contents;
}

.provideSharing-element2 {
    flex: 0;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    user-select: none;
    text-decoration: none;
}

.provideSharing-details2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.provideSharing-text41 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.provideSharing-text42 {
    color: var(--dl-color-gray-700);
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    user-select: text;
}

.provideSharing-icon4 {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

@media(max-width: 767px) {
    .provideSharing-header {
        flex-direction: column;
    }

    .provideSharing-image {
        width: 100%;
    }

    .provideSharing-as-technology {
        flex-direction: column;
    }

    .provideSharing-pasted-image {
        width: 100%;
    }

    .provideSharing-aisi {
        flex-direction: column;
    }

    .provideSharing-pasted-image1 {
        width: 100%;
    }

    .provideSharing-soc {
        flex-direction: column;
    }

    .provideSharing-pasted-image2 {
        width: 100%;
    }

    .provideSharing-header1 {
        flex-direction: column;
    }

    .provideSharing-image1 {
        display: none;
    }

    .provideSharing-image2 {
        display: none;
    }

    .provideSharing-image3 {
        display: none;
    }

    .provideSharing-image4 {
        display: none;
    }

    .provideSharing-text37 {
        font-size: 16px;
        line-height: 24px;
    }

    .provideSharing-text39 {
        font-size: 16px;
        line-height: 24px;
    }

    .provideSharing-text41 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media(max-width: 479px) {
    .provideSharing-image {
        height: 507px;
    }

    .provideSharing-text20 {
        font-size: 2.3em;
    }

    .provideSharing-container05, .provideSharing-aisi, .provideSharing-soc, .provideSharing-countries-in-serch {
        padding: 92px 32px;
    }
}
