@import url(./1000andAbove/1000.css);
@import url(./100and300/100.css);
@import url(./100and300/200.css);
@import url(./100and300/300.css);
@import url(./400and600/400.css);
@import url(./400and600/500.css);
@import url(./400and600/600.css);
@import url(./700and900/700.css);
@import url(./700and900/800.css);
@import url(./700and900/900.css);
@import url(./range/minRange.css);

@media (100px <= width <= 999px){
    .contentLeftBlack{
        margin-left: 0rem;
    }

    .contentRightBlack{
        margin: 0rem;
    }

    .productHeader img{
        width: 100%;
    }

    .productHead img{
        width: 150px;
    }

    .bottom p{
        font-size: 0.9rem;
    }

    .policy a{
        margin: 0.5rem;
    }
}