@import url(../../config/colors/colors.css);

.category-box{
    text-align: center;
}

.serch-box{
    display: block;
    width: 15rem;
}

.serch-box:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px 0px;
}

.serch-boxes{
    padding: 2rem;
}

.serch-box img{
    height: 3rem;
}

.latest-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.latest-info-box img {
    width: 10rem;
    height: 7rem;
    margin-right: 1rem;
}

.linkBox a{
    font-size: 14px;
    margin: 2rem 0rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0rem 0rem;
    width: -moz-fit-content;
    color: var(--serch-black-bg);
    border-bottom: 2px solid var(--serch-black-bg);
    width: fit-content;
    font-weight: bold;
}

.linkBox a::after{
    content: '';
    position: absolute;
    background-color: var(--serch-black-bg);
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: all 1s;
}

.linkBox a::after{
    bottom: -2px;
    transform-origin: left;
}

.linkBox a:hover::after{
    transform: scaleX(1);
}

.linkBox a:hover{
    border-bottom: none;
}

.linking a{
    font-size: 14px;
    margin: 2rem 0rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--serch-white-bg);
    border-bottom: 2px solid var(--serch-white-bg);
    padding: 0.5rem 0.5rem 0rem 0rem;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: bold;
}

.linking a::after{
    content: '';
    background-color: var(--serch-white-bg);
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: all 1s;
}

.linking a::after{
    bottom: -2px;
    transform-origin: left;
}

.linking a:hover::after{
    transform: scaleX(1);
}

.linking a:hover{
    border-bottom: none;
}

.infoBox::after, .infoBox::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
}

.infoBox::before{
    border-style: none;
    border-width: 0 0 50px 50px;
    transition: border .25s;
    border-color: transparent transparent var(--serch-link-hover) transparent;
}

.infoBox::after{
    content: 'Learn more';
    opacity: 0;
    color: var(--serch-purple-deep);
    font-weight: 600;
    bottom: 15px;
    right: 15px;
    font-size: 1rem;
}

.infoBox::before{
    border-width: 0 0 100px 100px;
}

.infoBox:hover::after{
    opacity: 1;
    transition: opacity .5s;
}

.faqBox{
    padding: 4rem;
}

@media screen and (max-width: 768px) {
    .category-box{
        text-align: left;
    }

    .serch-box{
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .serch-box-content{
        display: flex;
        flex-direction: column;
    }

    .serch-boxes{
        padding: 1rem;
    }

    .serch-box-content p{
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .serch-box-content h3{
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .serch-box img{
        margin-right: 0.8rem;
        width: 3rem;
        height: 3rem;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 480px) {
    .latest-info-box{
        flex-direction: column;
        align-items: flex-start;
    }

    .latest-info-box img {
        width: 100%;
        height: 10rem;
        margin-right: 0rem;
    }
}