.requesting-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-section {
    gap: 40px;
    width: 100%;
    height: 938px;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.requesting-main {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-header {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
}

.requesting-heading {
    color: var(--dl-color-gray-black);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}

.requesting-caption {
    color: var(--dl-color-gray-black);
    font-size: 18px;
    align-self: flex-start;
    line-height: 30px;
}

.requesting-buttons {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-link {
    transition: 0.3s;
}

.requesting-link1 {
    transition: 0.3s;
}

.requesting-link2 {
    transition: 0.3s;
}

.requesting-link3 {
    transition: 0.3s;
}

.requesting-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.requesting-container01 {
    gap: 60px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.requesting-text08 {
    font-size: 2.6em;
    font-style: normal;
    font-weight: 600;
}

.requesting-container02 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-container03 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.requesting-image01 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.requesting-container04 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container05 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container06 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text09 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text10 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-link4 {
    text-decoration: underline;
}

.requesting-link5 {
    text-decoration: underline;
}

.requesting-container07 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.requesting-image02 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.requesting-container08 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step01 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet01 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container09 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container10 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content01 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text14 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text15 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-container11 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.requesting-image03 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.requesting-container12 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step02 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet02 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container13 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container14 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content02 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text22 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text23 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-container15 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.requesting-image04 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.requesting-container16 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step03 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet03 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container17 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container18 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content03 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text26 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text27 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-container19 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.requesting-image05 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.requesting-container20 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step04 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet04 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container21 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container22 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content04 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text30 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text31 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-container23 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.requesting-image06 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.requesting-container24 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step05 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet05 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container25 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container26 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content05 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text34 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text35 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-container27 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.requesting-image07 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.requesting-container28 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step06 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet06 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container29 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container30 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content06 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text41 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text42 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-container31 {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.requesting-image08 {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.requesting-container32 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step07 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet07 {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container33 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content07 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text45 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text46 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-container34 {
    gap: var(--dl-space-space-sixunits);
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-sixunits);
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.requesting-container35 {
    gap: var(--dl-space-space-fiveunits);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text49 {
    font-size: 2.6em;
    font-style: normal;
    font-weight: 600;
}

.requesting-team {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.requesting-box {
    flex: 0 0 auto;
    width: 45%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-image09 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.requesting-text50 {
    font-size: 20px;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 500;
}

.requesting-text51 {
    font-size: 16px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 400;
}

.requesting-link6 {
    font-size: 16px;
    margin-top: var(--dl-space-space-twounits);
    transition: 0.3s;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.requesting-link6:hover {
    border-bottom-width: 3px;
}

.requesting-box1 {
    flex: 0 0 auto;
    width: 45%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-image10 {
    flex: 1;
    width: 100%;
    object-fit: cover;
}

.requesting-text52 {
    font-size: 20px;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 500;
}

.requesting-text53 {
    font-size: 16px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 400;
}

.requesting-link7 {
    font-size: 16px;
    margin-top: var(--dl-space-space-twounits);
    transition: 0.3s;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.requesting-link7:hover {
    border-bottom-width: 3px;
}

.requesting-team1 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.requesting-box2 {
    flex: 0 0 auto;
    width: 45%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-image11 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.requesting-text54 {
    font-size: 20px;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 500;
}

.requesting-text55 {
    font-size: 16px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 400;
}

.requesting-link8 {
    font-size: 16px;
    margin-top: var(--dl-space-space-twounits);
    transition: 0.3s;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.requesting-link8:hover {
    border-bottom-width: 3px;
}

.requesting-user-safety {
    gap: 50px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-white);
}

.requesting-container36 {
    gap: 30px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.requesting-container37 {
    flex: 1;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text56 {
    color: var(--dl-color-gray-black);
    width: 100%;
}

.requesting-text57 {
    color: var(--dl-color-gray-500);
    font-size: 18px;
    margin-top: var(--dl-space-space-fourunits);
    line-height: 1.4;
    margin-bottom: 0px;
}

.requesting-navlink {
    font-size: 16px;
    margin-top: var(--dl-space-space-twounits);
    transition: 0.3s;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.requesting-navlink:hover {
    border-bottom-width: 3px;
}

.requesting-image12 {
    width: 50%;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.requesting-countries-in-serch {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
    padding-bottom: 120px;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.requesting-container38 {
    gap: 60px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.requesting-text58 {
    font-size: 2.6em;
    font-style: normal;
    font-weight: 600;
}

.requesting-container39 {
    gap: 30px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-icon {
    width: 42px;
    height: 42px;
}

.requesting-text59 {
    font-size: 1.4em;
    font-style: normal;
    font-weight: 600;
}

.requesting-container40 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step08 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet08 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container41 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container42 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content08 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text60 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text61 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-step09 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet09 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container43 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container44 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content09 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text62 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text63 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-step10 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet10 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container45 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container46 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content10 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text64 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text65 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-step11 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet11 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container47 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container48 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content11 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text66 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text67 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-step12 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet12 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container49 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container50 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content12 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text68 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text69 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-container51 {
    gap: 30px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-icon02 {
    width: 42px;
    height: 42px;
}

.requesting-text70 {
    font-size: 1.4em;
    font-style: normal;
    font-weight: 600;
}

.requesting-container52 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step13 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet13 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container53 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container54 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content13 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text71 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text72 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-navlink1 {
    font-size: 16px;
    transition: 0.3s;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.requesting-navlink1:hover {
    border-bottom-width: 3px;
}

.requesting-step14 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet14 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container55 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container56 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content14 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text73 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text74 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-navlink2 {
    font-size: 16px;
    transition: 0.3s;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.requesting-navlink2:hover {
    border-bottom-width: 3px;
}

.requesting-step15 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet15 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container57 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container58 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content15 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text75 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text76 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-container59 {
    gap: 30px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-icon04 {
    width: 42px;
    height: 42px;
}

.requesting-text77 {
    font-size: 1.4em;
    font-style: normal;
    font-weight: 600;
}

.requesting-container60 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-step16 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet16 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container61 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container62 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content16 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text78 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text79 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-step17 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.requesting-step-bullet17 {
    gap: 4px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requesting-container63 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-container64 {
    flex: 1;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.requesting-step-content17 {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.requesting-text80 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.requesting-text81 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.requesting-faq {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: 120px;
    background-color: var(--dl-color-gray-white);
}

.requesting-header1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex: 0;
    width: 100%;
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.requesting-section1 {
    color: var(--dl-color-gray-500);
}

.requesting-heading1 {
    color: var(--dl-color-gray-black);
    text-align: center;
}

.requesting-element {
    flex: 0;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    user-select: none;
}

.requesting-details {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.requesting-text82 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.requesting-text83 {
    color: var(--dl-color-gray-700);
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    user-select: text;
}

.requesting-icon06 {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

.requesting-navlink3 {
    display: contents;
}

.requesting-element1 {
    flex: 0;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    user-select: none;
    text-decoration: none;
}

.requesting-details1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.requesting-text84 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.requesting-text85 {
    color: var(--dl-color-gray-700);
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    user-select: text;
}

.requesting-icon08 {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

.requesting-navlink4 {
    display: contents;
}

.requesting-element2 {
    flex: 0;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    user-select: none;
    text-decoration: none;
}

.requesting-details2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.requesting-text86 {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 18px;
    max-width: 535px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.requesting-text87 {
    color: var(--dl-color-gray-700);
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    user-select: text;
}

.requesting-icon10 {
    fill: var(--dl-color-gray-black);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}

@media(max-width: 991px) {
    .requesting-section {
        gap: 40px;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
        flex-direction: row;
    }

    .requesting-main {
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .requesting-heading {
        text-align: left;
    }

    .requesting-caption {
        text-align: left;
    }

    .requesting-buttons {
        width: 100%;
    }

    .requesting-image {
        height: 713px;
        margin-bottom: 0px;
    }

    .requesting-step08 {
        height: 170px;
    }

    .requesting-step09 {
        height: 170px;
    }

    .requesting-step10 {
        height: 170px;
    }

    .requesting-step11 {
        height: 170px;
    }

    .requesting-step12 {
        height: 170px;
    }

    .requesting-step13 {
        height: 170px;
    }

    .requesting-step14 {
        height: 170px;
    }

    .requesting-step15 {
        height: 170px;
    }
}

@media(max-width: 767px) {
    .requesting-heading {
        font-size: 40px;
    }

    .requesting-caption {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 24px;
    }

    .requesting-image {
        margin-bottom: 0px;
    }

    .requesting-image01 {
        display: none;
    }

    .requesting-image02 {
        display: none;
    }

    .requesting-image03 {
        display: none;
    }

    .requesting-image04 {
        display: none;
    }

    .requesting-image05 {
        display: none;
    }

    .requesting-image06 {
        display: none;
    }

    .requesting-image07 {
        display: none;
    }

    .requesting-image08 {
        display: none;
    }

    .requesting-team {
        gap: var(--dl-space-space-fourunits);
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .requesting-box {
        width: 100%;
        align-items: flex-start;
    }

    .requesting-box1 {
        width: 100%;
        align-items: flex-start;
    }

    .requesting-team1 {
        gap: var(--dl-space-space-fourunits);
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .requesting-box2 {
        width: 100%;
        align-items: flex-start;
    }

    .requesting-user-safety {
        flex-direction: column;
    }

    .requesting-image12 {
        width: 100%;
    }

    .requesting-step08 {
        height: 200px;
    }

    .requesting-step09 {
        height: 200px;
    }

    .requesting-step10 {
        height: 200px;
    }

    .requesting-step11 {
        height: 200px;
    }

    .requesting-step12 {
        height: 200px;
    }

    .requesting-step13 {
        height: 250px;
    }

    .requesting-step14 {
        height: 250px;
    }

    .requesting-step15 {
        height: 250px;
    }

    .requesting-step16 {
        height: 250px;
    }

    .requesting-step17 {
        height: 250px;
    }

    .requesting-element {
        width: 100%;
        max-width: 560px;
    }

    .requesting-text82 {
        font-size: 16px;
        line-height: 24px;
    }

    .requesting-text84 {
        font-size: 16px;
        line-height: 24px;
    }

    .requesting-text86 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media(max-width: 479px) {
    .requesting-section {
        gap: 20;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .requesting-header {
        align-items: flex-start;
    }

    .requesting-heading {
        max-width: 280px;
    }

    .requesting-image {
        margin-bottom: 0px;
    }

    .requesting-text08 {
        font-size: 2.3em;
    }

    .requesting-container23 {
        height: 500px;
    }

    .requesting-container34 {
        padding: var(--dl-space-space-twounits);
    }

    .requesting-text49 {
        font-size: 2.3em;
    }

    .requesting-box {
        width: 100%;
    }

    .requesting-box1 {
        width: 100%;
    }

    .requesting-box2 {
        width: 100%;
    }

    .requesting-container38 {
        padding: var(--dl-space-space-twounits);
    }

    .requesting-text58 {
        font-size: 2.3em;
    }

    .requesting-text59 {
        font-size: 2.3em;
    }

    .requesting-step08 {
        height: 250px;
    }

    .requesting-step09 {
        height: 250px;
    }

    .requesting-step10 {
        height: 250px;
    }

    .requesting-step11 {
        height: 250px;
    }

    .requesting-step12 {
        height: 250px;
    }

    .requesting-text70 {
        font-size: 2.3em;
    }

    .requesting-step13 {
        height: 300px;
    }

    .requesting-step14 {
        height: 300px;
    }

    .requesting-step15 {
        height: 300px;
    }

    .requesting-text77 {
        font-size: 2.3em;
    }

    .requesting-step16 {
        height: 250px;
    }

    .requesting-step17 {
        height: 250px;
    }

    .requesting-countries-in-serch, .requesting-container01 {
        padding: 92px 32px;
    }
}
