.country-in-serch-country-in-serch {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    z-index: 50;
    position: relative;
    max-width: 1200px;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    background-color: #292929;
}

.country-in-serch-header {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    max-width: 600px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.country-in-serch-description {
    font-size: 20px;
    line-height: 30px;
}

.country-in-serch-buttons {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-in-serch-navlink {
    display: contents;
}

.country-in-serch-get-started {
    display: flex;
    text-decoration: none;
    background-color: var(--dl-color-gray-black);
}

.country-in-serch-text {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
}

@media(max-width: 991px) {
    .country-in-serch-country-in-serch {
        gap: var(--dl-space-space-twounits);
        flex-direction: column;
        justify-content: center;
    }

    .country-in-serch-buttons {
        width: 100%;
        flex-direction: column;
    }

    .country-in-serch-get-started {
        width: 100%;
    }
}
@media(max-width: 767px) {
    .country-in-serch-country-in-serch {
        padding-top: var(--dl-space-space-threeunits);
        padding-left: var(--dl-space-space-oneandhalfunits);
        padding-right: var(--dl-space-space-oneandhalfunits);
        padding-bottom: var(--dl-space-space-threeunits);
    }
}
